<%- contentFor('body') %>
<div class="error">
    <h1 class="page-ttl">ページが見つかりませんでした</h1>
    <p class="read">申し訳ございません。<br>お探しのページは見つかりませんでした。</p>
    <div class="button-area clearfix">
        <div class="prev-link"><a class="icon-prev-black"href="<%= PORTAL_SITE_URL %>">戻る</a></div>
    </div>
</div>
