<div class="contents wrapper">
  <h1 class="page-ttl">会社概要</h1>
  <div class="inner">
    <table class="mb-x-large">
      <tbody>
        <tr>
          <th>会社名</th>
          <td>東映株式会社（TOEI COMPANY, LTD.）</td>
        </tr>
        <tr>
          <th>代表者</th>
          <td>
            代表取締役グループ会長　岡田 裕介<br>代表取締役社長　多田 憲之
          </td>
        </tr>
        <tr>
          <th>所在地</th>
          <td>
            〒104-8108　東京都中央区銀座3丁目2番17号<br>03-3535-4641（代表）
          </td>
        </tr>
        <tr>
          <th>設立年月日</th>
          <td>
            1949年（昭和24年）10月1日<br>※創立年月日1951年（昭和26年）4月1日
          </td>
        </tr>
        <tr>
          <th>資本金</th>
          <td>117億709万2,928円</td>
        </tr>
        <tr>
          <th>株式上場</th>
          <td>東京証券取引所1部上場</td>
        </tr>
        <tr>
          <th>従業員数</th>
          <td>338名　2017年3月1日現在</td>
        </tr>
      </tbody>
    </table>
    <div id="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3241.6914916404144!2d139.69973441525823!3d35.659971880199194!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188b58061226a3%3A0x83690d83fa6bccbc!2z44CSMTUwLTAwMDIg5p2x5Lqs6YO95riL6LC35Yy65riL6LC377yR5LiB55uu77yS77yU4oiS77yR77yS!5e0!3m2!1sja!2sjp!4v1538630844347" height="450" frameborder="0" style="border:0; width: 100%;" allowfullscreen></iframe>
      </div>

  </div>

</div>