<header class="ticket-app-header ticket-app-show">
    <div class="close">
        <a href="{{ environment.APP_SITE_URL }}/#/purchase">
            閉じる
        </a>
    </div>
</header>
<header class="header clearfix ticket-app-hide">
    <div class="inner">
        <div class="logo">
            <a href="{{ environment.PORTAL_SITE_URL }}">
                <img src="/assets/images/common/logo.svg" alt="">
            </a>
            <a href="{{ environment.PORTAL_SITE_URL }}">
                <div class="company-name">TOEI THEATERS</div>
            </a>
        </div>
        <ng-content></ng-content>
    </div>
</header>