$tablet: 1024px;
$mobile: 767px;
.mvtk-lists {
    li {
        &:last-child {
            margin-bottom: 0;
        }
        dt {
            @media screen and (max-width: $mobile){
                display: block;
            }
        }
        dd {
            @media screen and (max-width: $mobile){
                display: block;
                width: 100%;
            }
        }
    }
}