<div class="contents">
    <h1 class="page-ttl">エラーが発生しました</h1>
    <p class="read">お手続きの有効期限がきれました。
        <br>お手数をおかけいたしますが、もう一度最初から操作をお願いいたします。</p>
    <div class="button-area">
        <div class="prev-link">
            <a class="ticket-app-hide" href="{{ environment.PORTAL_SITE_URL }}">
                <app-icon iconName="prev-black" width="15" height="15"></app-icon>戻る</a>
            <a class="ticket-app-show" href="{{ environment.APP_SITE_URL }}/#/purchase">
                <app-icon iconName="prev-black" width="15" height="15"></app-icon>戻る</a>
        </div>
    </div>
</div>