<div class="box radius small-x-text notes ">
    <ol>
        <li>
            1. {{ ordinance }}の定めにより、18歳未満及び高校生の方は終映が{{ limit }}を過ぎる上映回のチケットをご購入いただけません。また保護者同伴でもご入場いただけません。
        </li>
        <li>
            2. チケット購入はクレジット決済のみとなり、発券の際には予約番号、電話番号が必要となります。
        </li>
        <li>
            3. 決済をしてご購入いただいたチケットは、上映中止・もしくは上映延期とならない限り、交通渋滞・電車遅延などいかなる理由があっても、チケットのキャンセル・変更・払い戻しは一切いたしません。
        </li>
        <li>
            4. 上映中止・および上映延期の場合の旅費・交通費などは補償いたしません。
        </li>
        <li>
            5. 学生料金・シニア料金の各チケットを購入された方は、ご入場時にチケットと一緒に、以下の証明書をご提示いただきます。
            <ul class="note_child">
                <li>・学生の方は、学校長発行の学生証または学生手帳</li>
                <li>・シニアの方は、生年月日が確認できる公的機関発行の証明書</li>
                <li>・ハンデキャップの方は、障がい者手帳</li>
            </ul>
            ご提示いただけない場合は、一般料金との差額をいただく場合があります。
        </li>
        <li>
            6. その他の利用規約についてもご同意いただきます。
        </li>
    </ol>
    <p>最後に、購入完了ページに表示される予約番号はチケットの発券に必要となりますのでメモをとるなどして、必ずお控えください。</p>
</div>