.icon {
    display: inline-block;
    vertical-align: middle;
}
.new-tab-white {
    background-image: url(/assets/images/icon/icon_new_tab_white.svg);
    background-size: 15px 15px;
    width: 15px;
    height: 15px;
}

.new-tab-blue {
    background-image: url(/assets/images/icon/icon_new_tab_blue.svg);
    background-size: 15px;
    width: 15px;
    height: 15px
}

.next-white {
    background-image: url(/assets/images/icon/icon_next_white.svg);
    background-size: 15px;
    width: 15px;
    height: 15px;
}

.print-white {
    background-image: url(/assets/images/icon/icon_print_white.svg);
    background-size: 15px;
    width: 15px;
    height: 15px;
}

.prev-white {
    background-image: url(/assets/images/icon/icon_next_white.svg);
    background-size: 15px;
    width: 15px;
    height: 15px;
}

.prev-black {
    background-image: url(/assets/images/icon/icon_prev_black.svg);
    background-size: 15px;
    width: 15px;
    height: 15px;
}

.close-black {
    background-image: url(/assets/images/icon/icon_close_black.svg);
    background-size: 15px;
    width: 15px;
    height: 15px;
}

.add-white {
    background-image: url(/assets/images/icon/icon_add_white.svg);
    background-size: 15px;
    width: 15px;
    height: 15px;
}

.ticket-black {
    background-image: url(/assets/images/icon/icon_ticket_black.svg);
    background-size: 25px 15px;
    width: 25px;
    height: 15px;
}

.zoom-in {
    background-image: url(/assets/images/icon/icon_zoom_in.svg);
    background-size: 15px 15px;
    width: 15px;
    height: 15px;
}

.zoom-out {
    background-image: url(/assets/images/icon/icon_zoom_out.svg);
    background-size: 15px 15px;
    width: 15px;
    height: 15px;
}