<footer class="footer">
    <div class="inner">
        <ul class="clearfix">
            <li><a href="/#/company" target="_blank">会社概要</a></li>
            <li><a href="/#/law" target="_blank">特定商取引法に基づく表記</a></li>
            <li><a href="https://www.toei.co.jp/policy/index.html" target="_blank">プライバシーポリシー</a></li>
        </ul>
        <div class="copyright">© TOEI THEATERS All rights reserved.</div>
    </div>
</footer>