<header class="header clearfix bg-light-gray">
    <div class="inner">
        <div class="logo">
            <a href="<%- PORTAL_SITE_URL %>"><img src="/assets/images/common/logo.svg" alt="東映"></a>
            <a href="<%- PORTAL_SITE_URL %>"><div class="company-name">TOEI&nbsp;THEATERS</div></a>
        </div>
    </div>
</header>