<% if (isApp) { %>
<header class="header">
    <div class="close"><a href="<%- appSiteUrl %>/#/purchase"><%= __('common.close') %></a></div>
</header>
<% } else { %>
<header class="header clearfix">
    <div class="inner">
        <div class="logo"><a href="<%- PORTAL_SITE_URL %>"><img src="/images/common/logo.svg" alt="<%- __('header.logo') %>"></a></div>
    </div>
</header>
<% } %>
