<div class="site-seal d-table">
    <div class="d-td">
        <p class="small-x-text">
            この画面は、高いセキュリティでプライバシーを保護する為に、ssl暗号化通信を採用しています。
        </p>
    </div>
    <div class="d-td">
        <table width="135" border="0" cellpadding="2" cellspacing="0" title="このマークは、SSL/TLSで通信を保護している証です。">
            <tr>
                <td width="135" align="center" valign="top">
                    <span id="siteseal">
                        <script async type="text/javascript" src="https://seal.godaddy.com/getSeal?sealID=AfMTlT0aRw0pzcxx500Xfc78Q7S3A1M2g3U9Dib3PGAlsVDYQSneN4tbCcrH"></script>
                    </span>
                </td>
            </tr>
        </table>
    </div>
</div>