$tablet: 1024px;
$mobile: 767px;

.footer {
    background-color: #212121;
    .return-top {
        display: block;
        border-bottom: 1px solid #FFF;
        .return-top-inner {
            text-align: center;
            padding: 15px 0;
            img {
                height: 22px;
            }
        }
    }
    .inner {
        position: relative;
        padding: 25px 40px;
        font-size: 10px;
        border-radius: 0 0 4px 4px;
        @media screen and (max-width: $mobile){
            padding: 20px 15px;
        }
    }
    ul {
       text-align: center;
        margin-bottom: 10px;
        li {
            display: inline-block;
            padding: 0 5px;
            border-right: 1px solid #FFF;
            line-height: 1.5;
            &:last-child {
                border: none;
                padding-right: 0;
            }
            a {
                color: #FFF;
            }
        }
    }
    .copyright {
        text-align: center;
        color: #FFF;
    }
}