<footer class="footer">
    <a href="#" class="return-top" (click)="scroll($event)">
        <img src="/assets/images/common/status_04.svg">
    </a>
    <div class="inner">
        <ul class="clearfix">
            <li><a routerLink="/company" target="_blank">会社概要</a></li>
            <li><a [href]="environment.PORTAL_SITE_URL + '/business_deal/'" target="_blank">特定商取引法に基づく表記</a></li>
            <li><a href="https://www.toei.co.jp/policy/index.html" target="_blank">プライバシーポリシー</a></li>
        </ul>
        <div class="copyright">&copy; {{ year }} TOEI THEATERS All rights reserved.</div>
    </div>
</footer>