<li class="performance mb-x-small">
    <dl>
        <dt>
            <p class="title"><strong>{{ title }}</strong></p>
            <div class="d-flex align-items-center justify-content-end">
                <div class="bage small-x-text text-center">R18+</div>
                <div class="bage small-x-text text-center">吹替版</div>
                <div class="small-x-text screening-time text-center">上映時間：{{ duration | duration: 'minutes' }}分</div>
            </div>
        </dt>
        <dd>
            <ul>
                <app-purchase-film-order-performance *ngFor="let film of data.films" [data]="film"></app-purchase-film-order-performance>
            </ul>
        </dd>
    </dl>
</li>