<div class="box radius bg-ultra-light-gray term small-x-text">
    <p>
        <br>東映株式会社（以下「当社」といいます）は、インターネットチケット販売（以下「本サービス」といいます）をご利用いただくに当たって"インターネットチケット販売利用規約"（以下「本規約」といいます）を以下の通りに定めます。本規約に同意の上本サービスをご利用ください。
        <br>
        <br>
        <strong>1.利用条件</strong>
        <br>
        <br>(1)本サービスは当社オンラインシステムを利用する当社の運営する映画館（以下「実施劇場」といいます）にてご利用いただけます。
        <br>(2)本サービスをご利用いただけるのは本規約に同意したお客様のみです。お客様が本規約に違反した場合には本サービスのご利用をお断りする場合があります。
        <br>(3)お客様ご自身の責任で電子端末の操作およびインターネットの利用ができ、本サービス利用に当たって文字表示や電子メール等の諸設定が適切になされている方を対象にしています。
        <br>(4)また、上記条件をみたしていても、お客様が使用されている電子端末やインターネット環境の事情によって、本サービスが正常に作動しない場合に、それがもたらす諸影響について、当社は一切責任を負いません。当社は本サービスの内容およびお客様が本サービスを通じて取得する情報等の完全性、正確性、確実性、有用性等について、いかなる保証も行いません。
        <br>(5)当社はお客様に対して事前の通知をすることなく本規約を変更することがありますので、本サービスをご利用の際は必ず本規約をご確認ください。内容変更後は変更後の内容のみを有効とさせていただきます。
        <br>
        <br>
        <strong>2.販売について</strong>
        <br>
        <br>(1)お客様には、本サービスのご利用の際、お客様のお名前、電子メールアドレスおよび電話番号等の情報（以下「個人情報」といいます）を正確に入力していただきます。個人情報が不正確な場合には、お申込みは無効扱いとなります。
        <br>(2)本サービスにおいて、お客様の入力ミスまたは通信環境の不具合等により重複申込みされた場合でも、当社は一切責任を負いません。また、その代金についての払戻しはいたしません。
        <br>(3)本サービスにおいてお客様がチケットご購入お申込み時に指定可能な事項は販売画面で選択可能な範囲に限ります。一部の作品、上映時間に関しては、取扱いがない、または本サービスで用意されているすべての機能をご利用できない場合があります。
        <br>(4)本サービスはインターネットを利用したリアルタイムチケット購入システムであるため、通信回線の混雑またはオンラインシステム上の不慮の事故等により、チケット購入の成否の確定もしくはその通知が大幅に遅れ、または不可能となる場合があります。
        <br>(5)当社は、前項に定めるチケット購入の成否について、お客様および第三者に対し一切責任を負いません。
        <br>(6)本サービスにおいては、特定のお客様が同じ内容のお申込みを多数回行い、当社が購入意思のないものと判断した場合、全てのお申込みに対してその後のいかなる購入手続きもしない場合があります。また、当社が不適切なお申込みと判断した場合には今後のご利用をご遠慮いただく場合もあります。
        <br>(7)本サービスでのご購入お申込み完了後、上映中止の場合を除いては、交通渋滞や駐車場渋滞による来場遅延等の理由の如何にかかわらず上映作品・時間・座席の変更およびご購入のキャンセル、払戻し等一切受け付けていません。お客様のご都合でチケットをお引取りにならない場合も払戻しはいたしませんのでご注意ください。
        <br>(8)チケットのご購入お申込みが成立した場合には、当社はお客様に対して「予約番号」を発行します。チケットを取得する際、予約番号と電話番号の入力が必要です。
        <br>(9)チケットのお引渡しは、チケット情報照会ページから表示されるＱＲコード(スマート入場の場合)、または該当劇場窓口での発券によるものとさせていただきます。上映開始時間を著しく過ぎてしまった場合は入場をお断りさせていただく場合もあります。また、当日窓口で発券の場合、劇場指定の制限時間までに発券手続きを完了しない場合には予約は無効となります。
        <br>(10)何らかの理由によるご購入対象映画の上映中止により払戻しを行う場合は、払戻し金額はチケット券面額として、それ以外の費用は適用外となります。払戻し方法は、ご利用のクレジットカード会社、株式会社ムービーウォーカーおよび弊社の処理方法に準じます。
        <br>(11)ご購入お申込み完了後、当社よりご購入確認の電子メールを送信させていただきます。チケット購入お申込み時のオーダーフォームへの入力漏れ、正しくない電子メールアドレスの入力、判読不可能な文字化け現象等、お客様からのお申込み内容に何らかの不具合が生じた場合、電子メールを送信できないことがあります。電子メールの不達・誤達・遅達等について当社は一切責任を負いません。
        <br>
        <br>
        <strong>3.料金について</strong>
        <br>
        <br>(1)本サービスは当社規定の料金体系に基づいてご利用いただくことを前提とします。チケット購入時には適切な券種をご指定ください。
        <br>(2)実施劇場のチケットの価格は全国的な料金体系に基づいて設定されており、作品によって異なる場合があります。
        <br>(3)一回のお申込みにつき、お申込み枚数を6枚までに制限させていただきます。7枚以上の複数枚数をお申込みの場合はお申込み手続きを必要回数行ってください。この場合、お座席はお申込み単位で離れた位置となる場合がございますのでご了承ください。
        <br>(4)一般料金以外のチケットをご購入の場合は各種証明書をご提示いただきます。ご来場の際にはあらかじめご準備ください。ご提示いただけない場合はご入場をお断りいたします。
        <br>(5)上映される映画には映倫管理委員会の定めたレイティング（作品内容による鑑賞年齢制限）を適用しています。レイティングの定められた映画においては、本サービスを中止する場合があります。
        <br>
        <br>
        <strong>4.決済について</strong>
        <br>
        <br>本サービスにおいて提供する決済方法について以下のように規定します。
        <br>
        <br>(1)本サービスは成年者のご利用を推奨しております。未成年者が本サービスをご利用される場合、必ず保護者同意の上ご利用ください。未成年者が本サービスをご利用された場合、全ての事項において保護者の同意を得たものとみなします。
        <br>(2)国内発行、かつ、当社指定のクレジットカードをお持ちのお客様にご利用いただけます。
        <br>クレジットカードの与信手続き完了をもって販売契約の成立とします。なお、お申込みの際の虚偽入力、誤入力もしくは入力漏れ、または各クレジットカード発行会社の規約等に準じない等の何らかの理由でお客様のクレジットカードによる決済ができない場合には、チケット購入は無効となります。お取り扱いできなかった場合のお問い合わせ等はクレジットカード発行会社に直接お問い合わせください。
        <br>クレジットカード利用におけるトラブルについて当社は一切責任を負いません。
        <br>(3)ムビチケをお持ちのお客様にご利用いただけます。
        <br>ムビチケ決済手続き完了をもって販売契約の成立とします。なお、お申込みの際の虚偽入力、誤入力もしくは入力漏れ、または株式会社ムービーウォーカーの規約等に準じない等の何らかの理由でムビチケによる決済ができない場合には、チケット購入は無効となります。お取り扱いできなかった場合のお問い合わせ等は、株式会社ムービーウォーカーに直接お問い合わせください。
        <br>ムビチケ利用におけるトラブルについて当社は一切責任を負いません。
        <br>(4)お客様ご自身の過失によるトラブルについて当社は一切責任を負いません。
        <br>
        <br>
        <strong>5.禁止行為</strong>
        <br>
        <br>(1)お客様は本サービスのご利用にあたって、以下の行為を行ってはならないものとします。
        <br>・本サービスをご利用される他のお客様およびその他の第三者に迷惑もしくは不利益を及ぼす行為、または本サービスおよびその他のサービスに支障を来す行為
        <br>・法令に違反する行為
        <br>・利用者の許諾を得ることなく、いかなる方法によっても、本サービスを通じて提供される著作物等を著作権法で定める個人の私的使用の範囲を超えて使用する行為
        <br>・本サービスを通じて、もしくは本サービスに関連して営利を目的とする行為またはその準備を目的とする行為（転売目的によるチケットの購入、チケットの転売行為を含む）
        <br>・コンピューターウィルス等の有害なプログラムを、本サービスを通じて、もしくは本サービスに関連して使用し、または提供する行為
        <br>・公序良俗に反する、もしくはその恐れのある行為、または公序良俗に反する情報を本サービスの他の利用者もしくは第三者に提供する行為
        <br>・政治・宗教・性風俗に関する行為
        <br>その他インターネット利用の一般的なマナー、モラルおよび技術を遵守していただきます。当社が不適切と判断する行為を行うお客様には、本サービスのご利用をお断りする場合があります。
        <br>
        <br>
        <strong>6.お客様の情報について</strong>
        <br>
        <br>(1)当社はお客様の個人情報を利用して、電子メールその他の手段によりチケットの購入・販売等に関する通知等をお客様に発信することができるものとします。
        <br>(2)お客様は当社に対し、お申込の際に入力した個人情報を下記各利用目的の範囲内で利用することに同意するものとします。
        <span class="space-left">
            <p>1. ・電子メールその他の手段により当社、関連会社、及び当社と取引関係のある第三者のサー ビスに関する推奨・告知を行うこと
                <br>2. ・アンケート調査並びに景品等の送付を行うこと
                <br>3. ・当社のサービスの改善又は新たなサービスの開発を行うこと
                <br>4. ・上記の他、当社の営業に関する行為
            </p>
        </span>
        (3)当社はお客様がお申込みの際に入力した個人情報を、以下の項目に該当する場合または正当な理由のある場合を除き、第三者に対して開示しないものとします。
        <span class="space-left">
            <p>5. ・お客様が個人情報の開示について同意している場合
                <br>6. ・法令に基づき、行政官庁または司法機関等により開示を求められた場合
                <br>7. ・その他本サービスの運営上必要な場合
            </p>
        </span>
        <br>
        <strong>7.システムに関する項目</strong>
        <br>
        <br>(1)本サービスは、当社以外のサイトおよびサーバーに接続します。
        <br>(2)本サービスはSSL通信を採用しています。
        <br>(3)本サービスの利用途中でお客様がブラウザーの長時間の停止・終了、電子端末操作の停止、ネットワークの切断等の行為を行った場合に生じるいかなる問題にも当社は責任を負いません。
        <br>
        <br>
        <strong>8.本サービスの内容変更・中止・中断について</strong>
        <br>
        <br>(1)当社は本サービスの運営上、そのシステムや内容の変更が必要であると判断した場合、お客様に対し事前に通知することなく、本サービスの内容に変更を行うことがあります。
        <br>(2)当社は以下の各号に該当する場合には、本サービスの運営を中止・中断することがあります。
        <span class="space-left">
            <p>1. ・本サービスのシステムの停止または緊急の保守・点検を行う場合
                <br>2. ・その他、当社が本サービスの運営上必要と判断した場合
                <br>3. ・戦争・暴動・騒乱・労働争議・地震・噴火・洪水・津波・火災・停電・輸送手段の混乱その他当社の合理的支配を超える事由により本サービスの提供ができなくなった場合
            </p>
        </span>
        (3)当社は前項の規定に基づく本サービスの中止、中断、変更もしくは廃止、または本サービスの提供の遅滞、その他本サービスに関連して発生したお客様または第三者の損害について一切責任を負わないものとします。
        <br>
        <br>
        <strong>9.紛争解決について</strong>
        <br>
        <br>(1)本規約の解釈、適用にかかわる準拠法は日本法とします。
        <br>(2)本サービスに関連して、お客様と当社との間で紛争が生じた場合には、双方誠意を持って協議の上解決するものとします。
        <br>(3)本サービスに関連して、お客様が他のお客様もしくは第三者に損害を与えた場合、またはお客様と他のお客様もしくは第三者との間に紛争が生じた場合、
        お客様は自己の費用と責任でかかる損害を賠償し、またはかかる紛争を解決するものとし、当社に何らの迷惑や損害を与えないものとします。
        <br>(4)協議をしても紛争を解決できない場合には、東京地方裁判所をもって第一審の専属的管轄裁判所とします。
        <br>
        <br>
        <br>2018年12月4日現在
    </p>
</div>