<div class="contents">
    <h1 class="page-ttl">券種選択</h1>
    <p class="read">ご希望の券種を選択して「次へ」ボタンを押してください。</p>

    <div *ngIf="purchase.isUsedMvtk() && purchase.data.mvtkTickets.length === 0" class="box radius bg-ultra-light-gray mb-middle mvtk">
        <dl class="d-table">
            <dt class="d-td">ムビチケ券を利用される方</dt>
            <dd class="d-td width-medium">
                <div class="ghost-button mvtk-button">
                    <a routerLink="/purchase/mvtk/input">
                        <img src="/assets/images/common/mvtk_logo.svg" alt="ムビチケ">を利用する
                    </a>
                </div>
            </dd>
        </dl>
    </div>

    <!--<div *ngIf="user.isMember() && purchase.isUsedPoint() && purchase.data.pointTickets.length === 0" class="box radius bg-ultra-light-gray mb-middle point">
        <dl class="d-table">
            <dt class="d-td">会員ポイントを利用される方</dt>
            <dd class="d-td width-medium">
                <div class="ghost-button point-button">
                    <a routerLink="/purchase/point">
                        <strong>会員ポイント</strong>を利用する
                    </a>
                </div>
            </dd>
        </dl>
    </div>-->

    <ul class="box radius bg-light-gray mb-middle seats">
        <li *ngFor="let offer of offers">
            <dl class="d-table">
                <dt class="d-td seat-code">{{ offer.seatNumber }}</dt>
                <dd class="d-td width-medium" [class.validation]="offer.validation">
                    <div *ngIf="!offer.selected" class="button blue-button">
                        <button type="button" (click)="ticketSelect(offer)">券種を選択してください</button>
                    </div>
                    <div *ngIf="offer.selected" class="blue-button ghost-button">
                        <button type="button" (click)="ticketSelect(offer)">
                            {{ offer.ticketInfo.ticketName.ja }} ￥{{ offer.ticketInfo.charge }}
                        </button>
                    </div>
                </dd>
            </dl>
        </li>
    </ul>

    <div class="box radius bg-light-gray mb-large total">
        <div class="text-right mb-small">
            <div class="length mb-x-small">購入枚数
                <strong class="red-text large-text">{{ offers.length }}枚</strong>
            </div>
            <div class="price">合計金額
                <strong class="red-text large-text">
                    <span>{{ totalPrice }}</span>円</strong>
            </div>
        </div>
        <div class="border-bottom-dot mb-small"></div>
        <!-- 4DX -->
        <!--<p *ngIf="(purchase.data.screeningEvent?.superEvent.coaInfo.kbnJoueihousiki?.kubunCode === '002')" class="small-x-text mb-xx-small">
            ※[４DXをご鑑賞のお客様へ]
            <br> ４DX®作品は「身長100cm未満の方は入場不可」「身長120cm未満のお子様は保護者同伴」の入場制限がありますので、ご注意くださいませ。
            <br> また、妊娠されている方、ご高齢の方、心臓・背中・腰・首などに障害のある方、特別な疾病のある方、乗り物酔いしやすい方、体調に不安のある方はご利用になれません。
            <br> 上映中のホットドリンク・アルコールはご遠慮ください。
        </p>-->
        <!--<p class="small-x-text">※メンバーズカード提示による割引やその他割引券などのご利用はできません。
            <br>※車椅子席をご希望の方は、お手数ですが通常のお席をご購入の上、対象の劇場にご連絡ください。
            <br>※ムビチケ券によっては別途追加料金が発生する場合がありますのでご了承ください。
        </p>-->
    </div>
    <form [formGroup]="ticketForm" (ngSubmit)="onSubmit()">
        <app-buttons nextLabel="次へ" prevLabel="戻る" prevLink="/purchase/seat"></app-buttons>
    </form>
    <app-site-seal></app-site-seal>
</div>

<app-modal [open]="ticketsModal" [layout]="false" (close)="ticketsModal = false">
    <ul inner class="not-layout box radius bg-light-gray">
        <li *ngFor="let mvtkTicket of salesMvtkTickets" [class.disabled]="mvtkTicket.selected">
            <dl class="d-table">
                <dt class="d-td">
                    <div class="mb-xx-small">
                        <strong>
                            {{ mvtkTicket.ticketName }} ￥{{ mvtkTicket.salePrice }}
                        </strong>
                    </div>
                    <p class="small-x-text">ムビチケ購入番号 {{ mvtkTicket.knyknrNoInfo.knyknrNo }}</p>
                </dt>
                <dd class="d-td width-small">
                    <div class="button blue-button ticket-type-select">
                        <button type="button" (click)="selectMvtkTicket(mvtkTicket)">選択</button>
                    </div>
                </dd>
            </dl>
        </li>
        <!--<li *ngFor="let pointTicket of salesPointTickets" [class.disabled]="pointTicket.selected">
                <dl class="d-table">
                    <dt class="d-td">
                        <div class="mb-xx-small">
                            <strong>{{ pointTicket.ticketName }} ￥{{ pointTicket.salePrice }}</strong>
                        </div>
                        <p class="small-x-text">{{ pointTicket.ticketNote }}</p>
                    </dt>
                    <dd class="d-td width-small">
                        <div class="button blue-button ticket-type-select">
                            <button type="button" (click)="selectSalesTicket(pointTicket)">選択</button>
                        </div>
                    </dd>
                </dl>
            </li>-->
        <li *ngFor="let ticket of salesTickets">
            <dl class="d-table">
                <dt class="d-td">
                    <div class="mb-xx-small">
                        <strong>{{ ticket.name.ja }} ￥{{ ticket.charge }}</strong>
                    </div>
                    <p class="small-x-text">{{ ticket.ticketNote }}</p>
                </dt>
                <dd class="d-td width-small">
                    <div class="button blue-button ticket-type-select">
                        <button type="button" (click)="selectSalesTicket(ticket)">選択</button>
                    </div>
                </dd>
            </dl>
        </li>
    </ul>
</app-modal>

<app-modal [open]="notSelectModal" [layout]="true" (close)="notSelectModal = false">
    <div class="modal-title large-text text-center mb-middle">
        <strong>券種が未選択です</strong>
    </div>
    <p class="text-center">ご希望の券種を選択して「次へ」ボタンを押してください。</p>
</app-modal>

<app-modal [open]="discountConditionsModal" [layout]="true" (close)="discountConditionsModal = false">
    <div class="modal-title large-text text-center mb-middle">
        <strong>割引条件が満たされていません</strong>
    </div>
    <p class="text-center">選択した券種の中に、割引券が含まれています。
        <br> 割引券の適用条件を再度ご確認ください。
    </p>
</app-modal>

<app-loading [show]="isLoading"></app-loading>