.inquiry-confirm {
    input[type=text],
    input[type=number],
    input[type=password],
    input[type=tel],
    input[type=email],
    input[type=number],
    textarea {
        margin: 0 0 5px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    .bookmark {
        text-align: center;
        padding: 0 10px;
        img {
            width: 100%;
            max-width: 360px;
        }
    }
    .tickets {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        flex-wrap: wrap;
        margin: 0 -10px;
    }
    .ticket {
        width: 50%;
        @media screen and (max-width: $mobile){
            width: 100%;
        }
        .inner {
            border: 2px solid #019fe8;
            border-radius: 5px;
            margin: 0 10px 20px;
        }
        .box {
            overflow: visible;
        }
        .ticket-number {
            padding: 5px 8px;
            border-radius: 12px;
            color: #7e7e7e;
            position: absolute;
            top: 20px;
            right: 20px;
            @media screen and (max-width: $mobile){
                right: 10px;
            }
        }
        .qr-code {

        }
        .not-qr-code {
            padding: 40px;
            background-image: url(/images/common/bg_ticket.svg);
            background-size: 100px 60px;
            background-repeat: no-repeat;
            background-position: center;
        }
        &:last-child {
            .inner {
                margin-bottom: 0;
            }
        }
    }
}
