$tablet: 1024px;
$mobile: 767px;
.steps {
    position: absolute;
    right: 30px;
    top: 50%;
    width: 400px;
    height: 1px;
    background-color: #ccc;
    margin-top: 10px;
    @media screen and (max-width: $mobile){
        width: 150px;
        right: 5px;
        margin-top: 0;
    }
    .step {
        width: 14px;
        height: 14px;
        border-radius: 7px; 
        margin-top: -7px;
        margin-left: -7px;
        background-color: #ccc;
        color: #ccc;
        position: absolute;
        top: 50%;
        left: 0;
        @media screen and (max-width: $mobile){
            width: 10px;
            height: 10px;
            border-radius: 5px; 
            margin-top: -5px;
            margin-left: -5px;       
        }
        .text {
            text-align: center;
            font-size: 10px;
            width: 100px;
            position: absolute;
            top: -20px;
            left: -43px;
            @media screen and (max-width: $mobile){
                display: none;                    
            }
        }
    }
    .step-01 {
        left: 0;
    }
    .step-02 {
        left: 20%;
    }
    .step-03 {
        left: 40%;
    }
    .step-04 {
        left: 60%;
    }
    .step-05 {
        left: 80%;
    }
    .step-06 {
        left: 100%;
    }
    .active {
        background-color: #C30D23;
        font-weight: bold;
        color: #C30D23;
    }
}