<div class="steps not-print">
    <ul>
        <li class="step step-01" [class.active]="url === '/purchase/seat'"><div class="text">座席選択</div></li>
        <li class="step step-02" [class.active]="url === '/purchase/ticket'"><div class="text">券種選択</div></li>
        <li class="step step-03" [class.active]="url === '/purchase/input'"><div class="text">情報入力</div></li>
        <li class="step step-04" [class.active]="url === '/purchase/confirm'"><div class="text">確認</div></li>
        <li class="step step-05" [class.active]="url === '/purchase/complete'"><div class="text">購入完了</div></li>
    </ul>
</div>