$tablet: 1024px;
$mobile: 767px;

.inner {
    h2 {
        font-weight: normal;
        font-size: 19px;
        margin-bottom: 10px;
    }
    p {
        line-height: 1.6;
    }
}
.inner-parts {
    margin-bottom: 25px;
}
.button-area {
    margin: 30px auto 0;
    @media screen and (max-width: $mobile){
        width: auto;
    }
}
.prev-link {
    text-align: center;
    a, button {
        font-size: 16px;
        font-weight: bold;
        color: #595757;
        position: relative;
        text-decoration: underline;
        cursor: pointer;
    }
}

ul li {
    padding-left: 1em;
    text-indent: -0.5em;
    line-height: 1.6;
}