<%- contentFor('body') %>
<div class="error">
    <h1 class="page-ttl">エラーが発生しました</h1>
    <p class="read">お手続きの途中でエラーが発生いたしました。<br>お手数をおかけいたしますが、もう一度最初から操作をお願いいたします。</p>
    <div class="button-area clearfix">
        <div class="prev-link"><a class="icon-prev-black"href="<%= PORTAL_SITE_URL %>">戻る</a></div>
    </div>
    <% if (NODE_ENV !== 'production') { %>
    <code style="
    margin-top: 40px; 
    display: block; 
    background: #EEE; 
    padding: 10px;
    font-size: 14px;
    line-height: 1.6;
    word-wrap: break-word;"><%= JSON.stringify(error) %></code>
    <% } %>
</div>
