<div class="contents wrapper">

    <h1 class="page-ttl">スケジュール選択</h1>
    <p class="read">鑑賞希望作品の上映時間を選択してください。</p>
    <!-- <div *ngFor="let theater of theaters" class="mb-middle button orange-button center-button inquiry-button">
        <a href="/inquiry/login?theater={{ theater.location.branchCode }}">{{ theater.name.ja }}照会</a>
    </div> -->


    <div *ngIf="!isPreSaleSchedules && preSaleDateList.length > 0" class="orange-button center-button button">
        <button (click)="changeScheduleType('pre')">先行販売スケジュール</button>
    </div>
    <div *ngIf="isPreSaleSchedules && preSaleDateList.length > 0" class="gray-button center-button button">
        <button (click)="changeScheduleType('normal')">通常スケジュール</button>
    </div>
</div>
<!-- <dl *ngIf="showTheaterList">
            <dt class="mb-x-small">劇場</dt>
            <dd class="mb-small">
                <select [(ngModel)]="conditions.theater" (change)="changeConditions()">
                    <option *ngFor="let theater of theaters" value="{{ theater.location.branchCode }}">{{ theater.name.ja }}</option>
                </select>
            </dd>
        </dl> -->
<div *ngIf="!isPreSaleSchedules" class="date-cover">
    <div class="date-list">
        <div style="position:relative;">
            <div class="swiper-container mb-3" #swiper [swiper]="swiperConfig" (resize)="resize()">
                <div class="swiper-wrapper">
                    <div *ngFor="let date of dateList" class="swiper-slide">
                        <div class="date-btn d-flex justify-content-center align-items-center" [class.active]="date.value === conditions.date" (click)="changeDate(date.value)">
                            <strong>{{ date.label.month }}/<span class="large-text">{{ date.label.date }}</span>{{ date.label.day }}</strong>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </div>
</div>

<div *ngIf="isPreSaleSchedules" class="date-cover">
    <div class="date-list">
        <div style="position:relative;">
            <div class="swiper-container mb-3" #swiper [swiper]="swiperConfig" (resize)="resize()">
                <div class="swiper-wrapper">
                    <div *ngFor="let date of preSaleDateList" class="swiper-slide">
                        <div class="date-btn d-flex justify-content-center align-items-center" [class.active]="date.value === conditions.date" (click)="changePreSaleDate(date.value)">
                            <strong>{{ date.label.month }}/<span class="large-text">{{ date.label.date }}</span>{{ date.label.day }}</strong>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </div>
</div>

<div class="contents wrapper">
    <div *ngIf="!isLoading">
        <div class="selection-date large-x-text mb-x-small">
            <strong>{{ moment(conditions.date).format('YYYY/MM/DD (ddd)') }}</strong>
        </div>

        <ul *ngIf="!isPreSaleSchedules" class="film-order">
            <app-purchase-film-order *ngFor="let film of filmOrder" [data]="film"></app-purchase-film-order>
        </ul>

        <p *ngIf="!isPreSaleSchedules && filmOrder.length === 0" class="mb-middle"><strong>スケジュールがありません</strong></p>

        <ul *ngIf="isPreSaleSchedules" class="film-order">
            <app-purchase-film-order *ngFor="let film of preSaleFilmOrder" [data]="film"></app-purchase-film-order>
        </ul>

        <p *ngIf="isPreSaleSchedules && preSaleFilmOrder.length === 0"><strong>スケジュールがありません</strong></p>
    </div>
    

    <div class="small-x-text">
        <p>
            《注意事項》
            <br>※チケット購入に際し、下記の事項を予めご了承ください。
            <br>・チケットご購入後、お客様のご都合による変更・払い戻しは、いかなる場合におきましても行っておりません。
            <br>・3歳以上有料／3歳未満で座席が必要な場合は有料となります。
            <br>・予約可能期間は、鑑賞日2日前0時から上映開始1時間前までです。
            <br>　また、クレジット決済後のキャンセル・変更・払い戻しは一切致しません。
            <br>・学生料金やシニア料金・ハンディキャップ料金をご利用のお客様は、ご鑑賞当日、規約所定の証明書をお持ちください。
        </p>
    </div>
    <app-site-seal></app-site-seal>
</div>

<app-loading [show]="isLoading"></app-loading>