$tablet: 1024px;
$mobile: 767px;
.selection-date {
    color: #ee7700;
}

.date-cover {
    background: #F0F0F2;
    padding: 20px;
}

.large-x-text {
    @media screen and (max-width: $mobile){
    font-size: 20px;
    }
}

.date-list {
    max-width: 840px;
    margin: 0 auto;
    @media screen and (max-width: $mobile){
        max-width: auto;
    }
    height: 105px;
    text-align: center;
    
    .active {
        background-color: #f9b714 !important;
        border-bottom: 5px solid #f5a100 !important;
        color: #FFF;
    }

    .date-btn {
        height: 100%;
        background-color: #ffdd00;
        border-bottom: 5px solid #fdca00;
        padding: 20px 0;
    }
}

.swiper-button-prev {

}

.swiper-button-next {
    
}