<div class="contents">

    <h1 class="page-ttl">スケジュール選択</h1>
    <p class="read">こちらからチケットの購入をする事が出来ます。
        <br>ご希望の鑑賞作品、鑑賞日時を選択してください。</p>
    <div *ngFor="let theater of theaters" class="mb-middle button blue-button center-button inquiry-button">
        <a href="{{ environment.FRONTEND_ENDPOINT }}/inquiry/login?theater={{ theater.location.branchCode }}">{{ theater.name.ja }}照会</a>
    </div>

    <div class="mb-middle">
        <div *ngIf="!isPreSaleSchedules && preSaleDateList.length > 0" class="blue-button center-button button">
            <button (click)="isPreSaleSchedules = true">先行販売スケジュール</button>
        </div>
        <div *ngIf="isPreSaleSchedules && preSaleDateList.length > 0" class="gray-button center-button button">
            <button (click)="isPreSaleSchedules = false">普通スケジュール</button>
        </div>
        <dl *ngIf="showTheaterList">
            <dt class="mb-x-small">劇場</dt>
            <dd class="mb-small">
                <select [(ngModel)]="conditions.theater" (change)="changeConditions()">
                    <option *ngFor="let theater of theaters" value="{{ theater.location.branchCode }}">{{ theater.name.ja }}</option>
                </select>
            </dd>
        </dl>
        <div *ngIf="!isPreSaleSchedules" class="date-list">
            <div *ngFor="let date of dateList" class="date-btn" (click)="changeDate(date.value)">{{ date.label.month }}/{{ date.label.date }}{{ date.label.day }}</div>
        </div>
        <div *ngIf="isPreSaleSchedules" class="date-list">
            <div *ngFor="let date of preSaleDateList" class="date-btn" (click)="changePreSaleDate(date.value)">{{ date.label.month }}/{{ date.label.date }}{{ date.label.day }}</div>
        </div>
    </div>

    <ul *ngIf="!isPreSaleSchedules" class="film-order">
        <app-purchase-film-order *ngFor="let film of filmOrder" [data]="film"></app-purchase-film-order>
    </ul>
    
    <ul *ngIf="isPreSaleSchedules" class="film-order">
        <app-purchase-film-order *ngFor="let film of preSaleFilmOrder" [data]="film"></app-purchase-film-order>
    </ul>

</div>

<app-loading [show]="isLoading"></app-loading>