.mvtk-box {
    position: relative;
    padding: 32px 0 0;
    .remove-button {
        position: absolute;
        top: 0;
        right: 0;
        a {
            width: 70px;
            padding: 8px 0;
            font-size: 12px;
            box-shadow: 0 0 0 transparent;
            font-weight: 500;
        }
    }
    &.active {
        display: block
    }
    .box {
        padding-top: 0;
        padding-bottom: 0;
        li {
            margin-bottom: 0 !important;
        }
    }
    dl {
        display: flex;
        border-bottom: 1px solid #FFF;
        padding: 20px 0;
        align-items: center;
    }
    dt {
        width: 180px;
        justify-content: ce;
    }
    dd {
        width: calc(100% - 180px);
    }
}

.validation-text {
    margin: 10px 0;
}

.zoom {
    -webkit-animation: zoom 0.2s;
    animation: zoom 0.2s;
}

.selected-seat {
    font-size: 16px;
    font-weight: bold;
    display: flex;
    .seat {
        margin-left: auto;
    }
}