<div class="contents">
    <h1 class="page-ttl">ムビチケ券認証</h1>
    <p class="read">ご利用になるムビチケ券の購入番号と、暗証番号を入力してください。
        <br>複数枚ご利用になる場合は「ムビチケ券を追加」ボタンを押して追加してください。</p>

    <div *ngFor="let mvtkForm of mvtkForms; let index = index" class="ticket-list mb-middle">
        <form [formGroup]="mvtkForm">
            <div class="mvtk-box">
                <div *ngIf="mvtkForms.length > 1" class="button light-gray-button remove-button">
                    <a (click)="removeMvtk(index)">削除</a>
                </div>
                <ul class="box radius bg-light-gray mb-small form-layout">
                    <li>
                        <dl>
                            <dt>ムビチケ購入番号</dt>
                            <dd>
                                <input class="mvtk-code" [class.validation]="mvtkForm.controls['code'].invalid && mvtkForm.controls['code'].touched" type="text" formControlName="code"
                                    autocomplete="off" placeholder="(例)012345789" maxlength="10">
                                <div *ngIf="mvtkForm.controls['code'].invalid && mvtkForm.controls['code'].touched">
                                    <div *ngIf="mvtkForm.controls['code'].errors.required" class="validation-text">ムビチケ購入番号が未入力です</div>
                                    <div *ngIf="mvtkForm.controls['code'].errors.maxlength" class="validation-text">ムビチケ購入番号は{{ mvtkForm.controls['code'].errors.maxlength.requiredLength }}文字で入力してください</div>
                                    <div *ngIf="mvtkForm.controls['code'].errors.minlength" class="validation-text">ムビチケ購入番号は{{ mvtkForm.controls['code'].errors.minlength.requiredLength }}文字で入力してください</div>
                                    <div *ngIf="mvtkForm.controls['code'].errors.pattern" class="validation-text">ムビチケ購入番号は数字で入力してください</div>
                                </div>
                            </dd>
                        </dl>
                    </li>
                    <li>
                        <dl>
                            <dt>ムビチケ暗証番号</dt>
                            <dd>
                                <input [class.validation]="mvtkForm.controls['password'].invalid && mvtkForm.controls['password'].touched" type="password"
                                    formControlName="password" autocomplete="off" placeholder="(例)0123" maxlength="4">
                                <div *ngIf="mvtkForm.controls['password'].invalid && mvtkForm.controls['password'].touched">
                                    <div *ngIf="mvtkForm.controls['password'].errors.required" class="validation-text">ムビチケ暗証番号が未入力です</div>
                                    <div *ngIf="mvtkForm.controls['password'].errors.maxlength" class="validation-text">ムビチケ暗証番号は{{ mvtkForm.controls['password'].errors.maxlength.requiredLength }}文字で入力してください</div>
                                    <div *ngIf="mvtkForm.controls['password'].errors.minlength" class="validation-text">ムビチケ暗証番号は{{ mvtkForm.controls['password'].errors.minlength.requiredLength }}文字で入力してください</div>
                                    <div *ngIf="mvtkForm.controls['password'].errors.pattern" class="validation-text">ムビチケ暗証番号は数字で入力してください</div>
                                </div>
                            </dd>
                        </dl>
                    </li>
                </ul>
            </div>
        </form>
    </div>

    <div *ngIf="purchase.data.tmpSeatReservationAuthorization?.object.offers.length > mvtkForms.length" class="button dark-blue-button add-button mb-middle center-button">
        <a class="icon-add-white" (click)="addMvtk()">ムビチケ券を追加</a>
    </div>

    <div class="box radius bg-light-gray mb-small">
        <div class="box-ttl">選択中の座席</div>
        <div class="text-right large-text">
            <strong>{{ purchase.data.tmpSeatReservationAuthorization?.object.offers.length }}席</strong>
        </div>
    </div>

    <p class="small-x-text">※不足金額が発生した場合は別途クレジットカードにてお支払いいただきます。</p>

    <form (ngSubmit)="onSubmit()">
        <app-buttons nextLabel="認証する" prevLabel="戻る" prevLink="/purchase/ticket"></app-buttons>
    </form>
    <app-site-seal></app-site-seal>
</div>

<app-modal [open]="inputValidationModal" [layout]="true" (close)="inputValidationModal = false">
    <div class="modal-title large-text text-center mb-middle">
        <strong>入力項目にエラーがあります</strong>
    </div>
    <p class="text-center">入力項目をご確認ください。</p>
</app-modal>

<app-modal [open]="authErrorModal" [layout]="true" (close)="authErrorModal = false">
    <div class="modal-title large-text text-center mb-middle">
        <strong>認証に失敗しました</strong>
    </div>
    <p class="text-center">購入番号と暗証番号、もしくはムビチケ券の対象作品を再度ご確認ください。</p>
</app-modal>

<app-loading [show]="isLoading"></app-loading>