$tablet: 1024px;
$mobile: 767px;

code {
    margin-top: 40px; 
    display: block; 
    background: #EEE; 
    padding: 10px;
    font-size: 14px;
    line-height: 1.6;
    word-wrap: break-word;
}

.button-area {
    margin: 30px auto 0;
    @media screen and (max-width: $mobile){
        width: auto;
    }
}
.prev-link {
    text-align: center;
    a, button {
        font-size: 16px;
        font-weight: bold;
        color: #595757;
        position: relative;
        text-decoration: underline;
        cursor: pointer;
    }
}