<div class="contents wrapper">
  <h1 class="page-ttl">スマート入場について</h1>
  <p class="read">オンライン購入をした後の手順</p>
  <div class="inner mb-x-small">
    <div class="title large-text mb-middle">スマートフォンをお持ちの方</div>

    <div class="issue d-flex mb-x-large">
      <div class="ticket-issue">
        <h2>チケット（QRコード）発行</h2>
        <p class="small-text">劇場ページもしくはチケット購入後に届くメールから『チケット情報照会』画面にアクセスし、予約番号と購入時に入力した電話番号を入力すると『チケット情報確認』画面にチケット（QRコード）が発行されます。</p>
      </div>
      <div class="image d-flex justify-content-center align-items-center">
        <img src="/assets/images/common/status_05.svg">
      </div>
      <div class="entry">
        <h2>ご入場</h2>
        <p class="small-text">発行されたチケット（QRコード）をスマートフォンに表示し、ご入場の際に入場口スタッフに提示するとご入場いただけます。</p>
      </div>
    </div>

    <div class="title large-text mb-middle">スマートフォンをお持ちでない方</div>

    <div class="print d-flex">
      <div class="ticket-issue">
        <h2>チケット（QRコード）発行</h2>
        <p class="small-text">劇場ページもしくはチケット購入後に届くメールから『チケット情報照会』画面にアクセスし、予約番号と購入時に入力した電話番号を入力すると『チケット情報確認』画面にチケット（QRコード）が発行されます。発行されたチケット（QRコード）を印刷して下さい。</p>
      </div>
      <div class="image d-flex justify-content-center align-items-center">
        <img src="/assets/images/common/status_05.svg">
      </div>
      <div class="entry">
        <h2>ご入場</h2>
        <p class="small-text">印刷したチケット（QRコード）を、ご入場の際に入場口スタッフに提示するとご入場いただけます。</p>
      </div>
    </div>

  </div>
  <div class="small-x-text">
    <p>
      ※スマートフォンをお持ちでない方で、プリンタがない場合は、劇場窓口でスタッフに予約番号と購入時に入力した電話番号をお伝え頂きQRチケットを発行して下さい。
      <br>※QRコードは、鑑賞時間の24時間前から『チケット情報確認』画面に表示されます。
    </p>
  </div>
  <app-site-seal></app-site-seal>
</div>