<div class="parent" [class.active]="open">
    <div class="modal-cover" (click)="close.emit()"></div>
    <div class="modal position-center">
        <div class="inner">
            <div *ngIf="layout">
                <div class="box radius bg-white">
                    <div class="modal-body mb-middle">
                        <ng-content></ng-content>
                    </div>
                    <div class="prev-link">
                        <a (click)="close.emit()">
                            <app-icon iconName="close-black" width="15" height="15"></app-icon>閉じる</a>
                    </div>
                </div>
            </div>
            <div *ngIf="!layout">
                <ng-content select="[inner]"></ng-content>
            </div>
        </div>
        <div class="close-button">
            <a class="modal-close" (click)="close.emit()"></a>
        </div>
    </div>
</div>