$tablet: 1024px;
$mobile: 767px;
.parent {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    display: none;
    &.active {
        display: block;
    }
}
.modal-cover {
    background-color: rgba(0, 0, 0, 0.7);
    height: 100%;
    width: 100%;
    animation: fadein 0.4s both;
}

.modal {
    z-index: 10;
    width: 600px;
    animation: fadein 0.4s both;
    @media screen and (max-width: $mobile){
        width: 88%;
    }
    .inner {
        border-radius: 5px;
        max-height: 70vh;
        overflow-y: auto;
        .box {
            border-radius: 0;
        }
    }
    
    .close-button {
        position: absolute;
        top: -30px;
        right: 0px;
        a {
            display: block;
            width: 25px;
            height: 25px;
            &:before {
                content: '';
                position: absolute;
                top: 50%;
                left: 0;
                background-image: url(/assets/images/common/modal_close.svg);
                background-size: contain;
                width: 100%;
                height: 100%;
                margin-top: -50%;
            }
        }
    }
}

.prev-link {
    text-align: center;
    a, button {
        font-size: 16px;
        font-weight: bold;
        color: #595757;
        position: relative;
        text-decoration: underline;
        cursor: pointer;
    }
}
