<div class="contents wrapper">
    <h1 class="page-ttl">購入完了</h1>
    <p class="read">ご購入ありがとうございました。
        <br>購入者情報入力画面で入力していただいたメールアドレス宛に購入完了メールを送信しました。
        <br>ご入場方法に関しましてはページ下部をご確認ください。
        <br>※購入完了メールの送信に時間がかかる事がありますのでご注意ください。</p>

    <div class="form-layout">
        <ul class="box radius bg-light-gray info mb-large">
            <li class="purchase-number">
                <dl>
                    <dt>予約番号</dt>
                    <dd>
                        <strong class="red-text large-x-text">{{ data.order.confirmationNumber }}</strong>
                        <p class="small-x-text">※チケットの発行等に必要な番号となりますので必ず忘れないようにしてください。</p>
                    </dd>
                </dl>
            </li>
            <li>
                <dl>
                    <dt>劇場 / スクリーン</dt>
                    <dd>{{ getTheaterName() }} / {{ getScreenName() }}</dd>
                </dl>
            </li>
            <li>
                <dl>
                    <dt>作品名</dt>
                    <dd>{{ getTitle() }}</dd>
                </dl>
            </li>
            <li>
                <dl>
                    <dt>鑑賞日時</dt>
                    <dd>
                        {{ getAppreciationDate() }} {{ getStartDate() }} - {{ getEndDate() }}
                    </dd>
                </dl>
            </li>
            <li>
                <dl>
                    <dt>座席</dt>
                    <dd>
                        <p *ngFor="let offer of data.order.acceptedOffers">
                            <span>{{ offer.itemOffered.reservedTicket.ticketedSeat.seatNumber }} </span>
                            <span>{{ offer.itemOffered.reservedTicket.ticketType.name.ja }} </span>
                            <span>{{ purchase.getTicketPrice(offer).single | currency : 'JPY' }}</span>
                        </p>
                    </dd>
                </dl>
            </li>
            <li>
                <dl>
                    <dt>ご利用金額</dt>
                    <dd>￥{{ data.order.price }}</dd>
                </dl>
            </li>
            <li>
                <dl>
                    <dt>メールアドレス</dt>
                    <dd>{{ data.order.customer.email }}</dd>
                </dl>
            </li>
        </ul>
    </div>

    <div class="ticket-app-hide">
        <div class="mb-x-large">
            <p><strong>&lt;購入完了メールが届かない場合のご確認事項&gt;</strong></p>
            <p class="mb-middle small-x-text">
                <br>購入完了後、購入完了メールが届かない場合は下記2点をご確認ください。
                <br>また、購入完了メールは自動送信のため再送信は致しかねます。
                <br>購入できているかのご確認は「予約番号」をお控えのうえ
                <a class="inquiry-login-link" href="{{ getInquiryUrl() }}" target="_blank">チケット照会ページ</a>よりご確認ください。
                <br>・ご入力いただいたメールアドレスに不備があった場合やメールの着信を拒否されている場合は購入完了メールが受け取れない場合があります。
                <br>・プロバイダのメール設定、携帯キャリア会社のメール設定のフィルタリング機能を有効にしている方は「削除フォルダ」または「迷惑メールフォルダ」をご確認ください。
            </p>
            <!-- <div class="button dark-orange-button print-button center-button not-print">
                <a class="icon-print-white" (click)="print()">印刷する</a>
            </div> -->
        </div>

        <div class="not-print mb-x-large">
            <h2 class="page-ttl">発券方法</h2>

            <ul class="ticketing-method">
                <li>
                    <dl class="box radius bg-light-gray">
                        <dt class="mb-small text-center large-text">
                            <strong>QRコード付きチケットをあなたのスマホから</strong>
                        </dt>
                        <dd>
                            <p class="mb-small">チケット発券は以下の照会ページから行えます。
                                <br>『予約番号』と購入時に入力した『電話番号』でチケット発券して頂けます。
                                <br>※QRコードは上映開始の24時間前から取得できます。</p>
                            <div class="image mb-x-small">
                                <img src="/assets/images/purchase/complete/qr_ticket.svg" alt="">
                            </div>
                            <div class="button orange-button inquiry-button mb-middle center-button">
                                <a class="" href="{{ getInquiryUrl() }}" target="_blank">照会ページへ<app-icon iconName="next-white"></app-icon></a>
                            </div>
                            <p>
                                <a class="icon-new-tab-blue" (click)="entryExplanationModal = true">※お連れ様と別々で入場する場合のご案内</a>
                            </p>
                        </dd>
                    </dl>
                </li>
            </ul>
        </div>

        <div class="not-print">
            <h2 class="page-ttl">入場方法</h2>

            <ul class="entry-method">
                <li>
                    <dl class="box radius bg-light-gray">
                        <dt class="mb-x-small text-center large-text">
                            <strong>QRコードでスマート入場</strong>
                        </dt>
                        <dd>
                            <p class="mb-small">
                                発券したQRコード付きチケットを提示してスムーズに入場！
                            </p>
                            <div class="image mb-x-small">
                                <img src="/assets/images/purchase/complete/qr.svg" alt="">
                            </div>
                            <p>
                                スマートフォンをお持ちでない方は当日チケット発券/入場も可能です。
                                <!-- <br>発券方法は
                                <a class="icon-new-tab-blue" href="/method/ticketing" target="_blank">こちら</a> -->
                            </p>
                        </dd>
                    </dl>
                </li>
            </ul>

            <div class="button-area">
                <div class="prev-link">
                    <a href="{{ environment.PORTAL_SITE_URL }}">
                        <app-icon iconName="prev-next"></app-icon>劇場ページへ
                    </a>
                </div>
            </div>
        </div>
    </div>

</div>

<app-modal class="entry-explanation-modal" [open]="entryExplanationModal" [layout]="false" (close)="entryExplanationModal = false">
    <div inner class="box radius bg-light-gray">
        <h2 class="text-center">お連れ様と別々で入場する場合</h2>
        <div class="number-1"><img src="/assets/images/purchase/complete/no.1.svg" alt=""></div>
        <div class="number-1-details box radius bg-white">『チケット情報照会』ページのURLをお連れ様に送信、『予約番号』と購入時に入力した『電話番号』もお伝えする。</div>
        <div class="text-center"><img src="/assets/images/purchase/complete/▼.svg" alt=""></div>
        <div class="number-2"><img src="/assets/images/purchase/complete/no.2.svg" alt=""></div>
        <div class="number-2-details box radius bg-white">お連れ様は、受取った情報を『チケット情報照会』ページ内に入力し、QRコードを照会して入場</div>
        <p class="small-x-text">※各QRコードに席番号が割り当てられています。どちらの座席で入場するかはお連れ様とご相談してください。</p>
    </div>
</app-modal>