$tablet: 1024px;
$mobile: 767px;
:host {
    width: 20%;
    padding: 0 0 0 10px;
    margin: 0 0 20px;
    @media screen and (max-width: $tablet){
        width: 25%;
    }
    @media screen and (max-width: $mobile){
        width: 100%;
        margin: 0 0 10px;
    }
}
li {
    cursor: pointer;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #dbdcdc;
    @media screen and (max-width: $mobile){
        display: flex;
        align-items: center;
        padding: 12px 10px;
    }
    &.end-of-sale,
    &.vacancy-full {
        background-color: #9e9e9f;
        border: 1px solid #9e9e9f;
        color: #c8c9ca;
        cursor: default;
    }
    .screen-name {
        @media screen and (max-width: $mobile){
            margin-bottom: 0 !important;
            width: 65px;
            text-align: left;
        }
    }
    .date {
        @media screen and (max-width: $mobile){
            margin-bottom: 0 !important;
            width: calc(100% - 65px - 60px);
            text-align: left;
            padding-left: 15px;
        }
        strong {
            vertical-align: middle;
        }
    }
    .status {
        @media screen and (max-width: $mobile){
            width: 60px;
        }
        .image {
            width: 30px;
            height: 30px;
            background-size: 30px;
            margin: 0 auto;
        }
    }
}

.vacancy-full .status .image {
    background-image: url(/assets/images/common/status_03.svg);
}

.vacancy-little .status .image {
    background-image: url(/assets/images/common/status_02.svg);
}

.vacancy-large .status .image {
    background-image: url(/assets/images/common/status_01.svg);
}

.text {
    display: none;
    height: 30px;
    line-height: 30px;
}

.end-of-sale {
    .image {
        display: none;
    }
    .text {
        display: block;
    }
}

