$tablet: 1024px;
$mobile: 767px;
:host {
    width: 25%;
    padding: 0 0 0 10px;
    margin: 0 0 20px;
    @media screen and (max-width: $tablet){
        width: 33.3%;
    }
    @media screen and (max-width: $mobile){
        width: 50%;
        margin: 0 0 10px;
    }
}
li {
    &.disabled {
        opacity: 0.5;
    }
    dl {
        border: 2px solid #AFAFAF;
        cursor: pointer;
        dt {
            padding: 10px 15px;
            border-bottom: 1px solid #777777;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #515151;
            @media screen and (max-width: $mobile){
                padding: 10px;
            }
            .status {
                width: 60px;
                .image {
                    width: 30px;
                    height: 30px;
                    background-size: 30px;
                    margin: 0 auto;
                }
            }
        }   
        dd {
            padding: 10px 0;
        }
    }
}

.vacancy-full .status .image {
    background-image: url(/assets/images/common/status_03.svg);
}

.vacancy-little .status .image {
    background-image: url(/assets/images/common/status_02.svg);
}

.vacancy-large .status .image {
    background-image: url(/assets/images/common/status_01.svg);
}
